.container {
  padding: 16px;
}

.exercise-grid {
  margin-top: 16px;
}


.exercise-card {
  max-width: 100%;
  text-align: center;
  height: 120px;
  cursor: pointer;
  border-color: var(--ant-primary-color);
  border-width: 2px;
  margin-bottom: 16px;
  background-color: var(--ant-secondary-color);
  box-shadow: var(--ant-box-shadow-base);
}

.exercise-name{
  color:var(--ant-text-highlight);
}

.add-exercise-btn {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color:var(--ant-text-highlight);
  background-color: var(--ant-secondary-color);
}