<div class="form-wrapper">
<form [formGroup]="exerciseForm">
  <nz-form-item >
    <nz-form-label [nzSpan]="6">Name</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <input nz-input formControlName="exerciseName" class="exerciseName"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6">Description</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <textarea nz-input formControlName="exerciseDescription" class="exerciseDesc"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6">Muscle Group</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <nz-select formControlName="muscleGroup" class="exerciseGroup">
        @for (group of availableMuscleGroups; track group) {
        <nz-option [nzLabel]="muscleGroupLabels[group]" [nzValue]="group"></nz-option>
        }
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" stlye="color:var(--ant-text-highlight)">Equipment</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <nz-select formControlName="equipment" class="exerciseEquip">
        @for (equipment of equipmentTypes; track equipment) {
        <nz-option [nzLabel]="equipmentDic[equipment]" [nzValue]="equipment"></nz-option>
        }
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-row class="form-actions" nzJustify="end" nzGutter="8">
    @if(exercise){
        <nz-col >
          <button nz-button nzType="default" nzDanger class="delete-exercise-btn" (click)="deleteExercise()">Delete</button>
        </nz-col>
        }
    <nz-col>
    <button nz-button nzType="primary" class="save-exercise-btn" (click)="submit()" [disabled]="exerciseForm.invalid">Save</button>
    </nz-col>
  </nz-row>
</form>
</div>