.nav-menu {
  display: flex;
  justify-content: center;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  width:100%;
}

/* Highlight active tab with theme color */
.ant-menu-item-selected {
  background-color: var(--ant-primary-color) !important;
  color: #fff !important;
  border-radius: 4px;
}

nz-icon {
    padding-left: 10px;
    font-size: 24px;
    cursor:pointer;
}

nz-icon.bell{
  padding-top:10px
}

nz-icon:hover{
    transform: scale(1.2);
    color: var(--ant-primary-color);
}