<div class="container">
   <div class="plan-grid">
    <nz-row [nzGutter]="16" nzJustify="center">
      @if (weeklyPlans().length > 0) {
        @for (plan of weeklyPlans(); track plan.weeklyPlanId) {
          <nz-col [nzXs]="24" 
                  [nzSm]="12" 
                  [nzMd]="8" 
                  [nzLg]="6" 
                  [nzXl]="4">
            <nz-card class="plan-card" (click)="goToPlan(plan)">
              <h1>{{ plan.weeklyPlanName }}</h1>
              @if(plan.planActive){
                <b style="color: #2ecc71;">Active</b>
              }
            </nz-card>
          </nz-col>
        }

        <nz-col [nzXs]="24" 
                  [nzSm]="12" 
                  [nzMd]="8" 
                  [nzLg]="6" 
                  [nzXl]="4">
          <button nz-button nzType="dashed" class="add-plan-btn" (click)="openAddPlanModal()">
            <nz-icon nzType="plus"/>
            Add new plan
          </button>
        </nz-col>
      } @else {
        <nz-col [nzXs]="24" 
                  [nzSm]="12" 
                  [nzMd]="8" 
                  [nzLg]="6" 
                  [nzXl]="4">
          <button nz-button nzType="dashed" class="add-plan-btn" (click)="openAddPlanModal()">
            <nz-icon nzType="plus"/>
            Add your first plan
          </button>
        </nz-col>
      }
    </nz-row>
  </div>
</div>
<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle= "Create a plan"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isSubmitting"
>
<ng-container *nzModalContent>
    <input
          type="text"
          nz-input
          [(ngModel)]="planName"
          class="plan-input"
        />
</ng-container>

<div *nzModalFooter>
      <button nz-button nzType="default" type="button" (click)="handleCancel()">Cancel</button>
      <button 
      nz-button nzType="primary" 
      type="submit" 
      class="addWorkoutBtn"
      (click)="handleOk()" 
      [disabled]="isSubmitting"
      [ngClass]="{ 'btn-enabled': !isSubmitting }">
        Add
      </button>
</div>
